:host {
    text-align: center;
  }
  img{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  
  div {
    position: absolute;
    top: 100px;
    right: 20px;
    border: 1px solid black;
    padding: 10px;
  }
  
  div:nth-of-type(2) {
    top: 100px;
    right: 220px;
  }
  ul{
    overflow: auto;
    height:80%;
  }
  
  .reds {
    color: red;
  }
  .greens {
    color: green;
  }
  